# Di-Tech

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Load Data

### Order Info Load Test

In [2]:
order_1 = pd.read_csv('season_1/training_data/order_data/order_data_2016-01-01', 
                      delimiter='\t',header=None)
order_1.columns = ["order_id", "driver_id","passenger_id","start_district_hash", 
                   "dest_district_hash", "Price","Time"]

In [3]:
order_1.head()

,order_id,driver_id,passenger_id,start_district_hash,dest_district_hash,Price,Time
0,97ebd0c6680f7c0535dbfdead6e51b4b,dd65fa250fca2833a3a8c16d2cf0457c,ed180d7daf639d936f1aeae4f7fb482f,4725c39a5e5f4c188d382da3910b3f3f,3e12208dd0be281c92a6ab57d9a6fb32,24.0,2016-01-01 13:37:23
1,92c3ac9251cc9b5aab90b114a1e363be,c077e0297639edcb1df6189e8cda2c3d,191a180f0a262aff3267775c4fac8972,82cc4851f9e4faa4e54309f8bb73fd7c,b05379ac3f9b7d99370d443cfd5dcc28,2.0,2016-01-01 09:47:54
2,abeefc3e2aec952468e2fd42a1649640,86dbc1b68de435957c61b5a523854b69,7029e813bb3de8cc73a8615e2785070c,fff4e8465d1e12621bc361276b6217cf,fff4e8465d1e12621bc361276b6217cf,9.0,2016-01-01 18:24:02
3,cb31d0be64cda3cc66b46617bf49a05c,4fadfa6eeaa694742de036dddf02b0c4,21dc133ac68e4c07803d1c2f48988a83,4b7f6f4e2bf237b6cc58f57142bea5c0,4b7f6f4e2bf237b6cc58f57142bea5c0,11.0,2016-01-01 22:13:27
4,139d492189ae5a933122c098f63252b3,NaN,26963cc76da2d8450d8f23fc357db987,fc34648599753c9e74ab238e9a4a07ad,87285a66236346350541b8815c5fae94,4.0,2016-01-01 17:00:06

In [4]:
order_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501287 entries, 0 to 501286
Data columns (total 7 columns):
order_id               501287 non-null object
driver_id              325577 non-null object
passenger_id           501287 non-null object
start_district_hash    501287 non-null object
dest_district_hash     501287 non-null object
Price                  501287 non-null float64
Time                   501287 non-null object
dtypes: float64(1), object(6)
memory usage: 26.8+ MB

## idea:

How to load all the data in one csv.

data = data.drop_duplicates()